{% extends 'layout.html' %} {% block body %}

<div class="row">
  <div class="col-md-5">
    {% with messages=get_flashed_messages() %} {% if messages %} {%for message
    in messages %}

    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-bs-dismiss="alert">
        &times;
      </button>

      {{message}}
    </div>

    {% endfor %} {% endif %} {%endwith%}

    <div class="card card-body">
      <form action="/add_contact" method="POST">
        <div class="form-group">
          <input
            type="text"
            name="fullname"
            placeholder="fullname"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            name="phone"
            placeholder="phone"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            name="email"
            placeholder="Email"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-7">
    <table
      class="table table-hover table-striped taq table-bordered bg-white table-sm"
    >
      <thead>
        <tr>
          <td>Fullname</td>
          <td>Phone</td>
          <td>Email</td>
          <td>Operations</td>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts%}
        <tr>
          <td>{{contact.1}}</td>
          <td>{{contact.2}}</td>
          <td>{{contact.3}}</td>
          <td>
            <a href="/edit/{{contact.0}}" class="btn btn-outline-primary"
              >Edit</a
            >
            <a
              href="/delete/{{contact.0}}"
              class="btn btn-outline-danger btn-delete"
              >Delete</a
            >
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
