<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Flask App</title>
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    -->
    <link
      href="{{ url_for ('static', filename='bootstrap.css')}}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="pills-home-tab"
            data-toggle="pill"
            href="/"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
            >Flask App Contact</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-profile-tab"
            data-toggle="pill"
            href="https://www.linkedin.com/in/dariel-lopez-b144251b4/"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            Linkedin Profile</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-contact-tab"
            data-toggle="pill"
            href="#pills-contact"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
            >Dariel Lopez</a
          >
        </li>
      </ul>
    </nav>
    <div class="container pt-4">{% block body %} {% endblock %}</div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for ('static', filename='main.js')}}"></script>
  </body>
</html>
